build/*
**/.pio/*
extern/**/tests/*
extern/**/examples/*
extern/**/docs/*
extern/**/.github/*
extern/nanopb/spm-test/*
extern/nanopb/spm_headers/*
extern/nanopb/tools/*
**/extensions.json
**/settings.json
encoded_actioncore.bin
**/secrets.h
examples/**/.gitignore

Notes.md
